* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  .container {
    padding: 20px;
    width: 50%;
    margin: auto;
   
  }
  h3{
    margin: auto;
    padding:30px;
  }
 .text{
    font-size: 18px;
    margin-top: 5px;
    color: #858772;
   padding: 5px;
  }
  
  
  